.announce-layout {
  margin-top: 4rem;
  width: 100%;
  min-height: calc(100vh - 4rem);
  padding: 1.25rem;
}

.announce-content-layout {
  flex-direction: column;
  border-radius: 0.5%;
  border-color: #465d4c;
  background-color: #caad5f;
  display: flex;
  overflow-y: scroll;
  height: 75vh;
  padding: 2rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.announce-title {
  font-weight: 700;
}

@include media-breakpoint-down(md) {
  .announce-content-layout {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .announce-layout {
    padding: 0.5rem;
  }
  .announce-content-layout {
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
}
