.announce-content-layout {
  flex-direction: column;
  border-radius: 0.5%;
  background-color: #caad5f;
  display: flex;
  overflow-y: scroll;
  height: 12rem;
  padding: 0.5rem;
  margin: auto;
  max-width: 1080px;
  .collapse-layout {
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  .collapseh-icon {
    font-size: 1rem;
    margin-right: 0rem;
  }
  .collapse-title {
    font-size: 1rem;
    margin-top: 0rem;
  }
  .collapse-reply-text {
    padding: 0 0.5rem !important;
  }
  .collapse-reply-time {
    margin-top: 0.25rem;
    p {
      font-size: 0.2rem !important;
    }
  }
}
@media (min-width: 768px) {
  .announce-content-layout {
    height: 20rem;
  }
}
