.fee-content {
  padding: 1rem 1.5rem;
  p {
    display: flex;
    margin: 0;
    font-size: 1.25rem;
  }
}
.fee-icon {
  margin-right: 0.3rem;
  font-size: 1rem;
  margin-top: 0.1rem;
}
