.order-description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #caad5f;
  padding: 1rem;
  border-radius: 1.25rem;
  .link {
    text-decoration: underline;
  }
  li {
    font-size: 0.875rem;
  }
}
.order-table {
  h5 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  thead {
    th {
      min-width: 18rem;
    }
  }
  th {
    background-color: #ede4d4;
    padding: 0.1rem 0.3rem;
  }
  td {
    background-color: #fff;
    padding: 0.1rem 0.3rem;
  }
  .table-end {
    th {
      background-color: #dac9a6;
    }
    td {
      background-color: #dac9a6;
    }
    color: #dac9a6;
  }
}

@media (min-width: 0px) {
  .order-section {
    padding: 1rem 1rem;
  }
  .order-btn-comfirm {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
@media (min-width: 375px) {
}
@media (min-width: 480px) {
  @media (max-height: 480px) {
  }
  @media (min-height: 480px) {
  }
}
@media (min-width: 640px) and (max-height: 640px) {
}
@media (min-width: 768px) {
  @media (max-height: 768px) {
  }
  @media (min-height: 720px) {
  }
}
@media (min-width: 820px) {
}
/*1024 1080*/
@media (min-width: 1280px) {
}
@media (min-width: 1440px) {
}
/* 1440*900，
1680*1050，
1920*1280，
2560*1600*/
